<nav class="nav-mobile">
	<div class="container-fluid">
		<div class="col-xs-2" style="text-align: center">
			<a href="home.html"><span class="glyphicon glyphicon-home" id="navicon_home"></span></a>
		</div>
		<div class="col-xs-2" style="text-align: center">
			<a href="portfolio.html"><span class="glyphicon glyphicon-briefcase" id="navicon_portfolio"></span></a>
		</div>
		<div class="col-xs-2" style="text-align: center">
			<a href="#" id="navicon_notificationLink"><span class="glyphicon glyphicon-globe" id="navicon_notication"></span></a>
		</div>
		<div class="col-xs-2" style="text-align: center">
			<a href="search.html"><span class="glyphicon glyphicon-search" id="navicon_search"></span></a>
		</div>
		<div class="col-xs-2" style="text-align: center">
			<a href="#" id="navicon_menuLink"><span class="glyphicon glyphicon-menu-hamburger" id="navicon_menu"></span></a>
		</div>
		<div class="col-xs-2" style="text-align: center">
			<a href="index.html"><span class="glyphicon glyphicon-log-out" id="navicon_logout"></span></a>
		</div>
	</div>
</nav>
