<div id="transactionContainer">
	<div class="row row-gap">
		<div class="col-xs-6">
			<select class="form-control">
				<option value="showall">Show: All</option>
			</select>
		</div>
		<div class="col-xs-6">
			<select class="form-control">
				<option value="allyear">All Year</option>
			</select>
		</div>
	</div>
	<div class="row row-gap">
		<div class="col-xs-12">
			<div class="box-bordered">
				<div class="row row-gap">
					<div class="col-xs-12">
						<table class="table table-striped">
							<thead>
								<th width="65%">Jan 1, 2016</th>
								<th></th>
							</thead>
							<tbody>
								<tr>
									<td>
										DEPOSIT
									</td>
									<td align="right">
										<div class="number-value">514,000.00</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row row-gap">
		<div class="col-xs-12">
			<div class="box-bordered">
				<div class="row row-gap">
					<div class="col-xs-12">
						<table class="table table-striped">
							<thead>
								<th width="65%">Sep 17, 2016</th>
								<th></th>
							</thead>
							<tbody>
								<tr>
									<td>
										<div>BUY BKK:SCC</div>
										<div class="number-label" style="font-size: 10px">1,000.00 Shared</div>
									</td>
									<td align="right">
										<div class="number-value">440,000.00</div>
									</td>
								</tr>
								<tr>
									<td>
										<div>BUY BKK:DELTA</div>
										<div class="number-label" style="font-size: 10px">1,000.00 Shared</div>
									</td>
									<td align="right">
										<div class="number-value">74,000.00</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>