<div id="summaryContainer">
	<div class="row row-gap">
		<div class="col-xs-12">
			<div class="box-bordered">
				<div class="row">
					<div class="col-xs-4">
						<span class="number-label">YTD Return</span>
						<br>
						<span class="number-value">+16.73%</span>
					</div>
					<div class="col-xs-4">
						<span class="number-label">Current Asset</span>
						<br>
						<span class="number-value">600,000.00</span>
					</div>
					<div class="col-xs-4">
						<div class="eaw-score">
							<div style="font-size: 30px">7.13</div>
							<div style="font-size: 12px; margin-top: -5px">Eaw score</div>
						</div>
						<div style="text-align: right; font-size: 12px" class="row-gap">
							15.00%
							<br>
							Below Eaw Line
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<b>Performance</b>
					</div>
				</div>
				<div class="row row-gap">
					<div class="col-xs-12">
						<table class="table table-striped">
							<tbody>
								<tr>
									<td width="65%">
										<div class="number-label">BKK:SCC</div>
										<div class="number-label" style="font-size: 10px">1,000.00 Shared</div>
									</td>
									<td align="right">
										<div class="number-value">+84,000.00</div>
										<div class="number-value" style="font-size: 10px">+19.09%</div>
									</td>
								</tr>
								<tr>
									<td width="65%">
										<div class="number-label">BKK:DELTA</div>
										<div class="number-label" style="font-size: 10px">1,000.00 Shared</div>
									</td>
									<td align="right">
										<div class="number-value">+2,000.00</div>
										<div class="number-value" style="font-size: 10px">+2.70%</div>
									</td>
								</tr>
								<tr>
									<td width="65%">
										<div class="number-label">Cash</div>
									</td>
									<td align="right">
										<div class="number-value">0.00</div>
									</td>
								</tr>
								<tr>
									<td width="65%">
										<div><b>Total Portfolio</b></div>
										<div class="number-label" style="font-size: 10px">Cost basis 514,000.00</div>
									</td>
									<td align="right">
										<div class="number-value">+86,000.00</div>
										<div class="number-value" style="font-size: 10px">+16.73%</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row row-gap">
		<div class="col-xs-12">
			<div class="box-bordered">
				<div class="row row-gap">
					<div class="col-xs-12">
						<b>Stock</b>
						<div id="chartContainer"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>